 <div class="user-details">
  <h1> Mi Experiencia </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Diseño</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-css3-plain colored"></i>
      <p>He hecho uso de html5 y bootstrap para el desarrollo de interfaces en sistemas de información y proyectos personales simples.</p>
    </div>
    <div class="tech">
      <h2>Código</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-python-plain-wordmark colored"></i>
      <p>Como desarrollador apasionado he realizado proyectos con lenguajes, como: C, C++, Java, Python, Ruby enmarcado en su framework Rails, Javascript, PHP, Ocaml, entre otros</p>
    </div>
    <div class="tech">
      <h2>Herramientas</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-vim-plain colored"></i>
      <p>Mis entornos de desarrollo se encuentran en sistemas con kernel Linux, hago uso de git como herramienta de versionamiento y utilizo editores como Vim, Emacs. La mayoría de despliegues que he realizado ha sido sobre servidores apache.</p>
    </div>
</div>
