<div class="user-details">
  <h1> Proyectos Favoritos </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/telegramPy.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> UsimteBot </h3>
    <ul>
      <li> Python, API telegramBot</li>
    </ul>
    <p>Este proyecto se realizo para gestionar grupos, este proyecto integra las necesidades básicas para este propósito, hace uso de la implementación de la API de Telegram en lenguaje Python. Su desarrollo se encuentra pausado.</p>
    <a class="project-link" href="https://github.com/Usimte/SimteBot">Revisar</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/720p.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BoxBlur </h3>
    <ul>
      <li> Procesamiento de imagen y computación paralela</li>
    </ul>
    <p>En el desarrollo de la materia Computación distribuida y paralela se realizo la implementación del algoritmo de BoxBlur usando diferentes librerías y métodos.</p>
    <a class="project-link" href="https://github.com/oacastillol/BoxBlur">Revisar</a>
  </div>
</div>
